html {
    font-family: "Comic Sans MS", "Arial";
  }

h1, h2, h3, h4, h5, h6 {
    font-family: Papyrus;
    color: purple;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: gray;
}

ul li {
    display: inline-block;
    margin: 16px;
}

ul li a {
    display: inline-block;
    color: black;
}

ul li a:hover {
    background-color: #AAA;
}

footer {
    background-color: #DDD;
    color:#555;
    text-align: center;
    padding: 16px;
}